*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 576px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5; }

.btn--general {
  border-width: 2px;
  border-radius: 0;
  padding: 1.2rem 2.6rem;
  text-transform: uppercase; }

.btn--white {
  border-color: #fff;
  color: #fff; }
  .btn--white:hover, .btn--white:focus {
    background-color: #fff;
    color: #41464b; }

.btn--blue {
  border-color: #34c6d3;
  color: #34c6d3; }
  .btn--blue:hover, .btn--blue:focus {
    background-color: #34c6d3;
    color: #fff; }

.btn--back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  padding: 3px 1.5rem;
  border-radius: 0;
  display: none; }

.heading-primary {
  text-transform: uppercase;
  font-size: 3.5rem; }
  .heading-primary:after {
    display: block;
    height: 3px;
    width: 5rem;
    background-color: #34c6d3;
    content: " ";
    margin: 2rem auto 0; }
  .heading-primary--white {
    color: #fff; }

.social-list {
  padding-left: 0; }
  .social-list__item {
    list-style: none;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: .6rem;
    margin-top: 1rem; }
  .social-list__icon i {
    font-size: 1.7rem; }

.icon--gray {
  color: #41464b; }
  .icon--gray:hover {
    color: #34c6d3; }

.icon--white {
  color: #fff; }
  .icon--white:hover {
    color: #34c6d3; }

.vesco-navbar.navbar {
  transition: all 0.3s; }

.vesco-navbar.navbar.scrollable {
  background-color: rgba(0, 0, 0, 0.7); }

.vesco-navbar .container-fluid {
  padding-left: 2rem;
  padding-right: 2rem; }

.vesco-navbar .navbar-toggler {
  border: 1px solid #fff; }
  .vesco-navbar .navbar-toggler .navbar-toggler-icon {
    color: #fff; }

.vesco-navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 1rem; }
  .vesco-navbar .navbar-nav .nav-item .nav-link:hover, .vesco-navbar .navbar-nav .nav-item .nav-link.active {
    color: #34c6d3; }

@media (max-width: 991px) {
  .vesco-navbar.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem; }
  .vesco-navbar .navbar-nav .nav-item .nav-link {
    padding: 1rem; } }

.footer {
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; }
  .footer__copyright p {
    margin: 0; }
  .footer__menu {
    float: left; }
    .footer__menu ul {
      list-style: none;
      padding-left: 0;
      margin: 0; }
      .footer__menu ul li {
        display: inline-block; }
        .footer__menu ul li a {
          color: #fff;
          font-size: 1.2rem;
          margin: 0 1rem;
          text-decoration: none; }
          .footer__menu ul li a:hover {
            color: #34c6d3; }
          .footer__menu ul li a:first-of-type {
            margin: 0 1rem 0 0; }

.header__cover {
  height: 100vh;
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation-delay: 0.1s;
  animation-duration: 0.5s; }

.header__content-box {
  width: 100%;
  height: 100%;
  display: table; }
  .header__content-box__inner {
    display: table-cell;
    vertical-align: middle; }

.header__heading {
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  animation-delay: 0.5s;
  animation-duration: 0.5s; }
  .header__heading--sub {
    font-size: 3.5rem; }

.header__btn {
  animation-delay: 1s;
  animation-duration: 0.5s; }

.services__heading {
  margin-bottom: 3rem; }

.services__content-box {
  padding: 6rem 0; }

.services__item {
  padding: 2rem 0;
  margin-bottom: 2rem;
  cursor: pointer; }
  .services__item::after {
    content: "";
    display: table;
    clear: both; }
  .services__item__icon {
    color: #34c6d3;
    float: left;
    padding: 1.5rem;
    margin-right: 1.5rem;
    width: 7.5rem;
    height: 7.5rem;
    text-align: center; }
    .services__item__icon:hover {
      color: #fff;
      background-color: #34c6d3; }
  .services__item__title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #41464b; }
  .services__item__description {
    margin: 0;
    padding-left: 9rem; }

.about {
  padding: 6rem 0; }
  .about__bg-diagonal {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 25vh solid white;
    border-top: 100vh solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    @media (max-width: 767px) {
      .about__bg-diagonal {
        display: none; } }
  .about__content-box {
    float: left;
    height: 100vh; }
    @media (max-width: 767px) {
      .about__content-box {
        float: none;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem; } }
    .about__content-box--outer {
      width: 100%;
      height: 100%;
      display: table; }
    .about__content-box--inner {
      display: table-cell;
      vertical-align: middle; }
  .about__heading {
    margin-bottom: 3rem;
    text-align: left; }
    .about__heading .heading-primary::after {
      margin-left: 0; }
  .about__description {
    margin-bottom: 2rem; }

.work__content-box {
  padding: 6rem 0; }

.work__heading {
  margin-bottom: 4rem; }

.work__image-wrapper {
  overflow: hidden; }
  .work__image-wrapper img {
    transition: transform 0.5s ease; }
    .work__image-wrapper img:hover {
      transform: scale(1.5);
      cursor: zoom-in; }

.team__content-box {
  padding: 6rem 0; }

.team__heading {
  margin-bottom: 3rem; }

.team__member {
  margin: 0 1.5rem; }
  .team__member__info {
    padding-top: 3rem; }
    .team__member__info--name {
      font-size: 2.2rem;
      letter-spacing: 1px; }
    .team__member__info--designation {
      color: #34c6d3;
      font-style: italic; }

.testimonials__cover {
  background-image: url(../img/bg-testimonials.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.testimonials__content-box {
  padding: 6rem 0;
  background-color: rgba(0, 0, 0, 0.1); }

.testimonials__customers {
  padding: 5rem 0; }
  .testimonials__customers blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-size: 1.6rem;
    font-style: italic;
    color: #fff;
    padding: 2rem 15rem;
    position: relative; }
    .testimonials__customers blockquote::before {
      content: "\201C";
      top: 0;
      left: 10rem;
      font-size: 8rem;
      font-style: normal;
      line-height: 1;
      width: 3rem;
      height: 3rem;
      position: absolute; }
    .testimonials__customers blockquote::after {
      content: "\201D";
      bottom: 0;
      right: 10rem;
      font-size: 8rem;
      font-style: normal;
      line-height: 1;
      width: 3rem;
      height: 3rem;
      position: absolute; }
    .testimonials__customers blockquote p {
      color: #fff;
      margin: 0; }
    @media (max-width: 767px) {
      .testimonials__customers blockquote {
        padding: 2rem 6rem; }
        .testimonials__customers blockquote::before {
          left: 3rem; }
        .testimonials__customers blockquote::after {
          right: 3rem; } }

.testimonials__img {
  max-width: 15rem;
  margin: 0 auto; }

.testimonials__author {
  color: #fff; }
  .testimonials__author--name {
    font-size: 1.6rem; }
  .testimonials__author--position {
    display: block; }

.pricing__content-box {
  padding: 6rem 0; }

.pricing__heading {
  margin-bottom: 3rem; }

.pricing__box {
  border: 3px solid #34c6d3;
  padding: 5rem 0;
  margin: 4rem 0; }
  .pricing__box--lg {
    padding: 9rem 0;
    margin: 0;
    background-color: #34c6d3; }
    .pricing__box--lg .pricing__title {
      color: #34c6d3;
      background-color: #fff; }
    .pricing__box--lg .pricing__spec li p {
      color: #fff; }

.pricing__title {
  background-color: #34c6d3;
  color: white;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem; }

.pricing__value {
  font-size: 3.5rem; }
  .pricing__value sup {
    font-size: 2.8rem;
    font-weight: normal; }

.pricing__spec {
  list-style: none;
  padding-left: 0;
  margin: 2rem 0 6rem; }
  .pricing__spec li p {
    font-weight: 600;
    text-transform: uppercase;
    color: #41464b; }

.stats__cover {
  background-image: url(../img/bg-stats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.stats__content-box {
  padding: 6rem 0;
  background-color: rgba(0, 0, 0, 0.8); }

.stats__heading {
  margin-bottom: 3rem; }

.stats__item {
  padding: 10rem 0; }
  .stats__item i {
    color: #34c6d3; }
  .stats__item__counter {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.5rem 0 1px; }
  .stats__item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400; }

.clients__content-box {
  padding: 6rem 0; }

.contact {
  background-color: #41464b;
  padding: 6rem 0;
  border-top: 5px solid rgba(0, 0, 0, 0.1); }
  .contact__info {
    color: #fff; }
    .contact__info__title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      text-transform: uppercase; }
    .contact__info__general {
      background-image: url(../img/world-map.png);
      background-repeat: no-repeat;
      background-size: contain; }
    .contact__info__intro {
      margin-bottom: 3rem; }
    .contact__info__address, .contact__info__phone {
      margin-bottom: 3rem; }
      .contact__info__address p, .contact__info__phone p {
        margin-bottom: 0; }
        .contact__info__address p strong, .contact__info__phone p strong {
          letter-spacing: 1px; }
  .contact__form {
    color: #fff; }
    .contact__form__title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      text-transform: uppercase; }
    .contact__form .form-control {
      background: transparent;
      border-radius: 0;
      border-color: #fff;
      font-size: 1.4rem;
      padding: 0.8rem 1.6rem;
      margin-bottom: 2rem;
      color: #fff; }
