@mixin bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin animate($delay: 0.1s, $duration: 0.5s) {
  animation-delay: $delay;
  animation-duration: $duration;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin button($main-color: $color_greenish_blue, $bg-color: $color_white) {
  border-color: $main-color;
  color: $main-color;

  &:hover, &:focus {
    background-color: $main-color;
    color: $bg-color;
  }
}