//Fonts
$font_default_regular: 'Montserrat';

//Sizes
$size_default_font: 1.4rem;
$size_heading_1: 5rem;
$size_heading_2: 3.5rem;
$size_heading_3: 2.5rem;

//Colors
$color_greenish_blue: #34c6d3;
$color_steel_gray: #41464b;
$color_blue_bayoux: #64707b;
$color_white: #fff;
$color_black: #000;