.btn {
  &--general {
    border-width: 2px;
    border-radius: 0;
    padding: 1.2rem 2.6rem;
    text-transform: uppercase;
  }

  &--white {
    @include button($color_white, $color_steel_gray);
  }

  &--blue {
    @include button($color_greenish_blue, $color_white);
  }

}