.icon {
  &--gray {
    color: $color_steel_gray;

    &:hover {
      color: $color_greenish_blue;
    }
  }

  &--white {
    color: $color_white;

    &:hover {
      color: $color_greenish_blue;
    }
  }
}