.social-list {
  padding-left: 0;

  &__item {
    list-style: none;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: .6rem;
    margin-top: 1rem;
  }

  &__icon {
    i {
      font-size: 1.7rem;
    }
  }
}