.about {
  padding: 6rem 0;

  &__bg-diagonal {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 25vh solid white;
    border-top: 100vh solid transparent;
    @include bg-parallax;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__content-box {
    float: left;
    height: 100vh;

    @media (max-width: 767px) {
      float: none;
      height: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &--outer {
      width: 100%;
      height: 100%;
      display: table;
    }

    &--inner {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__heading {
    margin-bottom: 3rem;
    text-align: left;

    .heading-primary::after {
      margin-left: 0;
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  &__btn {

  }
}