.work {

  &__content-box {
    padding: 6rem 0;
  }

  &__heading {
    margin-bottom: 4rem;
  }

  &__image-wrapper {
    overflow: hidden;

    img {
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.5);
        cursor: zoom-in;
      }
    }
  }
}